@charset "UTF-8";
/***********************header************************************/
header {
	width: 100%;
	height: 67px;
	background-image: url("../images/common/header_bg.png");
	background-repeat: repeat-x;
	
}
.header_wrap {
	width: 47.9166%;
	height: 67px;
	/* background-color: yellow; */
	margin: 0 auto; 
	overflow: hidden; /*마진 탑을 태그 내의 태그에 줄 때 버그. 마진 숫자가 큰 쪽의 숫자로 적용된다*/
	/* padding: 13px 0;
	box-sizing: border-box; */
}
.header_logo {
	margin-top: 13px;
	float: left;
}
.header_wrap ul {
	float: left;
	margin-left: 60px;
}
.header_nav li {
	float: left;
	line-height: 67px;
	margin-right: 15px;
	font-weight: bold;
	color: white;
}
.header_subnav li {
	float: right;
	color: white;
	line-height: 67px;
	margin-right: 15px;
}
/************************main************************************/
.main {
	width: 47.9166%;
	height: 900px;
	background-color: red;
	margin: 0 auto;
	margin-top: 60px;
}
/***********************footer************************************/
footer {
	width: 100%;
	height: 132px;
	background-color: black;
	margin-top: 60px;
	background-image: url("../images/common/header_bg.gif");
}